---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//replace bootstrap default variables
$inn-color: #e4c67e;
$inn-blue: #254C5B;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$grid-gutter-width: 20px;

$modal-inner-padding: 20px;

$navbar-height: 60px;
$navbar-default-color: $inn-color;
$navbar-default-bg: #fff;
$navbar-default-link-color: $inn-color;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: darken($inn-color, 5%);


// site wide font
$font-family-base: "Noticia Text", "Times New Roman", serif;
$font-size-base: 14px;

// header
$header_background: $inn-color;
$header_text: #fff;

//carousel
$carousel-text-shadow: 0;
$carousel-control-font-size:  3em;

@import "bootstrap";

.inn_top_disp { 
    display: table; margin: auto; position: relative; top: -5.8em; 
        @media (max-width: $screen-xs-max) {
        top: -3em;
    }
}
.inn_top_logo { 
    height: 120px;
    @media (max-width: $screen-xs-max) {
        height: 80px;
    }
}
.top_disp_item { 
    display: table-cell; 
    width: 30%; 
    vertical-align: bottom; 
    font-size: 16px; 
}

.navbar-custom {
    padding: 2em 1em;
    color: #fff;
    //background: rgba(255,255,255,0.2);
    //border-bottom: 1px solid #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;    
    a { height: 100%; color: #fff; }
    .collapse { }
    .navbar-toggle { padding: 4px 6px; font-size: 20px; color: #fff; }
    .navbar-toggle:focus, .navbar-toggle:active { outline: 0; }
    @media (max-width: $screen-xs-max) {
        padding: 0em 1em;
    }
}

// brand

.navbar-brand:focus { outline: 0; }


// for display on mouse over
// .dropdown:hover .dropdown-menu { display: block; }

//navbar custom temp

.nav.navbar-nav {
    background-color: none;
}

.top-nav-collapse {
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid $inn-color;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    a { color: darken($inn-color, 15%); }
    .inn_top_disp { display: none; }
    .collapse { margin-top: 0em; }
    .navbar-toggle { color: $inn-color; margin-top: 0.5em; }
}

.navbar-custom ul.nav ul.dropdown-menu {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparentize(#fff, 0.1);
}

.navbar-custom ul.nav ul.dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;
    &:last-child { border-bottom: none; }
    a {
        padding: 1em;
        &:hover { background: $inn-color; }
    }

}


.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
  color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}



.copy_text { font-size: 14px; }



.site_header { 
    overflow: hidden;
    background: $inn-blue;
    line-height: 0em;
    .carousel-control { padding-top: 25%; color: rgba(255,255,255,0.3); }
    .carousel-caption { 
        padding-bottom: 25%;
        line-height: 1.8em;
        .inncaps_small {
            font-size: 2em;
        }
        .inncaps_big {
            font-size: 2.4em;
            -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
            animation-delay: 1s;
        }
    }
    @media (max-width: $screen-sm-max) {
        .carousel-caption { 
            padding-bottom: 15%;
            line-height: 1.4em; 
            .inncaps_small { font-size: 1em; }
            .inncaps_big { font-size: 1.4em; }
        }
    }
}
.header_single {min-height:250px; overflow: hidden; background: $inn-blue; }

.pbg { 
    // for parallax background
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}



.intro { padding: 25em 0 0; }
.intro_title span, .intro_text span { background: rgba(0,0,0,0.2); padding: 0.3em 1em; color: transparentize(#fff,0.2); }
.intro_title { font-size: 1.6em; text-transform: uppercase; margin-bottom: 1em; }
.intro_text { font-size: 2.2em; text-transform: uppercase; }


.section_hr_big { height:15px; background: $inn-color; }

.section { }
.section_title { font-family: sans-serif; color: darken($inn-color, 15%); text-transform: uppercase; letter-spacing: 2px; }
.section_hr { height: 3px; border-top: 1px solid $inn-color; width: 220px; float:none; margin: 2em auto; }
.tiny_hr { border-color: $inn-color; width: 100px; float: none; margin: 2em auto 0; }


// about section
.about_section { padding-top: 5em; padding-bottom: 6em; }
.welcome { font-size: 2em; color: #333; text-transform: uppercase; }
.sub_welcome { color: #ccc; font-family: sans-serif; font-size: 12px; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 3em; }
.sev_title { text-transform: uppercase; padding-top: 1em; }
.sev_desc { margin-bottom: 2em; }
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .sev_title { font-size: 12px; font-weight: bold; }
}

//customer section
//.customer_section { background: url(/images/customer_bg.png) no-repeat center center; background-size: cover; }
.parallax_customer { min-height: 450px; }
.customer_section_content { padding-top: 3em;}
.customer_quote {color: #aaa; font-style: italic; font-size: 1.4em; }
.customer_name { font-size: 12px; color:$inn-color; margin-top: 3em; }
.inn_logo { position: relative; top: -6.5em; }

// activities section
.activities_section { padding-top: 7em; padding-bottom: 5em; }
.act_item { margin-bottom: 1em; }
.readmore { padding: 0.5em 0 1em; color: $gray-lighter; }

// number section
.parallax_number { min-height: 300px; padding: 5em 0; }
.number_big { color: #aaa; font-size: 3.6em; }


// bottom section
.bottom_section { background: $inn-blue; padding: 3em 0 5em; }
.btm_icon { color:#aaa; font-size: 3.6em; }
.btm_title { color:#fff; font-size: 12px; text-transform: uppercase; padding-bottom: 1em; }
.btm_list_item { 
    padding: 0.5em 0; color: $inn-color;
    a { color: $inn-color; }
    a:hover { color: #fff; }
}
.social_item { 
    font-size: 2.4em;
    padding: 0; 
    a { color: lighten($inn-color, 10%); }
    a:hover { color: #fff; }
}
@media (max-width: $screen-xs-max) {
    .btm_col { text-align: center; }
}

// footer
.site_footer { 
    background-color: $inn-color;
    padding: 3em 0;
    a { color: #fff; }
    a:hover { color: #000; }
}

// single page
.single_page_icon { color: #fff; font-size: 5em; }
.single_page_content { 
    padding: 5em 0;
    line-height: 1.8em;
    img { max-width: 100%; padding: 2em 0; }
}
.single-center-block { float: none; margin: auto; }
.inn_hbg { background: $inn-color; padding: 3em 0; }