<div class="section about_section container">
    
    <div class="row">
    <div class="col-xs-12 text-center">
        
        {% if page.lang == "en" %}
            <p class="section_title">law services in hanoi from 2000</p>
            <hr class="section_hr center-block"></hr>
            <h3 class="welcome">welcome to innetco hoang phuc</h3>
            <p class="sub_welcome">our main activities</p>
        {% else %}
            <p class="section_title">dịch vụ tư vấn luật tại hà nội</p>
            <hr class="section_hr center-block"></hr>
            <h3 class="welcome">chào mừng tới innetco hoàng phúc</h3>
            <p class="sub_welcome">một số mảng hoạt động chính của công ty</p>
        {% endif %}
    
     </div>
    </div>
    <div class="row">

        {% if page.lang == "en" %}
            {% assign sev = site.pages | where: "place", "about_section" | where: "lang", "en" | sort: "position" %}
        {% else %}
            {% assign sev = site.pages | where: "place", "about_section" | where: "lang", "vi" | sort: "position" %}
        {% endif %}



        {% for item in sev limit:4 %}
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <a href="{{ item.permalink }}">
                <img class="img-responsive" src="{{ item.preview }}" alt="service">
                <h4 class="sev_title text-center">{{ item.title }}</h4>
                </a>
                <p class="sev_desc text-center">{{ item.desc }}</p> 
            </div>
        {% endfor %}
    </div>
</div>

