<div class="section customer_section">
    <div class="parallax_customer" data-parallax="scroll" data-image-src="{{ site.url }}/images/customer_bg.jpg">

        <div class="customer_section_content text-center container">

            <img class="inn_logo" src="{{ site.baseurl }}/images/logo_temp.svg" alt="logo">
            
            {% if page.lang == "en" %}
            
            <p class="section_title">customers say about us</p>
            <hr class="section_hr center-block"></hr>

            <div class="inn_slider">
            {% for cq in site.data.customers_quote %}
            <div class="inn_slider_item">
              <p class="customer_quote">{{ cq.content_e }}</p>
              <p class="customer_name">{{ cq.name }}</p>
            </div>
            {% endfor %}
            </div>
            

            {% else %}

            <p class="section_title">nhận xét của khách hàng về dịch vụ</p>
            <hr class="section_hr center-block"></hr>

            <div class="inn_slider">
            {% for cq in site.data.customers_quote %}
            <div class="inn_slider_item">
              <p class="customer_quote">{{ cq.content }}</p>
              <p class="customer_name">{{ cq.name }}</p>
            </div>
            {% endfor %}
            </div>
            {% endif %}


        </div>

    </div>

</div>