
<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/parallax.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/fl.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/inn.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script type="text/javascript" src="{{ "/js/jquery.counterup.min.js" | prepend: site.baseurl }}"></script>



<script>
    jQuery(document).ready(function( $ ) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>


<script>
$(document).ready(function(){
  $('.inn_slider').slick({
    autoplay: true,
      arrows: false,
      dots: true
  });
});
</script>


