<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}
    
    <div class="section_hr_big"></div>
    
    {% include lang_select.html %}
    
    {% include inn_about.html %}
    
    {% include inn_customer.html %}
    
    ((({% include inn_activities.html %})))(Tạm thời ẩn đi vì chưa có thông tin)
    
    {% include inn_number.html %}
    
    <div class="section_hr_big"></div>
    {% if page.lang == "en" %}{% include inn_bottom_en.html %}{% else %}{% include inn_bottom_vi.html %}{% endif %}
    
    {% include footer.html %} 
    
    {% include script.html %}

</body>

</html>
