<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}
    
    <div class="section_hr_big"></div>
    
    {% include lang_select.html %}
    
    {% include inn_about2.html %}
    
    {% include inn_customer.html %}
    
    {% include inn_activities.html %}
    
    {% include inn_number.html %}
    
    <div class="section_hr_big"></div>
    
    {% include inn_bottom.html %} 
    
    {% include footer.html %} 
    
    {% include script.html %}

</body>

</html>
