<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header_single.html %}

    <div class="container">
<div class="single_page_content">
<div class="row">
	<div class="single_page col-xs-12 col-sm-10 col-lg-8 single-center-block">
		{{ content }}
	</div>

</div>
</div>

    </div>
    <div class="section_hr_big"></div>
    {% include inn_activities.html %}
    <hr>
    {% if page.lang == "en" %}{% include inn_bottom_en.html %}{% else %}{% include inn_bottom_vi.html %}{% endif %}
    {% include footer.html %}

    {% include script.html %}

  </body>

</html>
